@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --contet-width: 1000px;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


p, li {
    font-size: 1.5rem;
}
h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
    font-weight: 7000;
}

section {
    max-width: var(--contet-width);
    margin: auto;
    width: 100%;
    background-color: #FFF;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
